
<h1>Welcome First Session of Angular!!!</h1>

<!-- <app-student></app-student> -->
<!-- <app-course></app-course> -->
<!-- <app-propetybinding></app-propetybinding> -->
<!-- <app-style-binding></app-style-binding> -->

<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-event-binding-part2></app-event-binding-part2> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-mouseevent></app-mouseevent> -->

<!-- <app-child1 [parentmsg]="msg" ></app-child1> -->
<!-- <app-child1 [parentArrObj]="arrobj" ></app-child1> -->
<!-- <hr>
<h2>Data From Child</h2>
<h3> {{receivedata}} </h3>

<ol>
    <li *ngFor="let item of datafromchild" > {{item.productname}} {{item.quantity}} {{item.description}} </li>
</ol>

<hr> -->
<!-- <app-child2 (childtoparent)="receivedata=$event"></app-child2> -->

<!-- <app-child2 (childtoparentarrobj)="datafromchild=$event"></app-child2> -->

<!-- <app-pipe></app-pipe> -->
<!-- <app-custompipe></app-custompipe> -->
<app-course1></app-course1>